body {
  background-color: rgb(255, 255, 255);
}

nav ul {
  margin: 0 auto;
  padding: 0px;
  line-height: 4em;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  margin-top: -200px;
}
nav ul li {
  display: inline;
}

nav ul li a {
  color: rgb(255, 255, 255);
}
nav ul li a:hover, footer ul li a:hover {
    text-decoration: none;
    color: rgb(40, 106, 205);
}

.float-start {
  text-align: left;
}
.float-start ul li {
  margin-right: 32px;
}
.float-end {
  text-align: right;
}

.button {
  border: 3px solid rgb(213, 213, 213);
  border-radius: 6px;
  background-color: rgba(200, 200, 200, 0.4);
  padding: 0.5em;
  color: rgb(213, 213, 213);
  margin-left: 15px;
}
.button:hover {
  border-color: rgb(40, 106, 205);
}

header {
  height: 550px;
  color: rgba(255, 255, 255, 1);
  padding-top: 240px;
  padding-bottom: 120px;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(94, 94, 94);
  background-blend-mode: overlay;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 1em;
}

h2 {
  font-family: 'Nato Serif SC', serif;
  font-size: 42px;
  font-weight: 400;
  font-style: italic;
  line-height: 1em;
}

h3 {
  font-family: 'Noto Serif SC', sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.4em;
}

h6 {
  font-family: 'Noto Serif SC', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 2em;
  margin-bottom: 20px;
}

section {
  margin-top: 80px;
}

footer {
  border-top: 2px solid rgb(179, 179, 179);
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 100px;
}
footer ul {
  line-height: 1.5em;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  list-style: none;
}
footer div p {
  font-size: 18px;
}

footer ul li a {
  color: rgb(120, 120, 120);
}

p {
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
}

.posts {
  list-style: none;
  font-size: 20px;
}

.meta {
  list-style: none;
  padding-left: 0px;
  margin-top: 4px;
  margin-bottom: 6px;
}
.meta li {
  display: inline-block;
  margin-right: 0.4em;
}
.post-tag {
  border-radius: 8px;
  background-color: rgb(179, 179, 179);
  padding: 0 1em 0 1em;
  color: rgb(50, 50, 50);
}

.post {
  border-bottom: 2px solid rgb(179, 179, 179);
  margin-bottom: 20px;
  padding-bottom: 40px;
  font-family: 'Lato', sans-serif;
}

.post iframe {
  margin: 20px;
  padding-left: 25%;
  width: 75%;
}
