#fn-body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  text-align: justify;
  color: #212529;
}
#fn-meta {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  text-align: left;
}
body {
  background-color: #ffffff;
}
aside {
  display: none;
}
footer {
  border-top: 1px solid #878787;
}
ul {
  list-style: circle;
  padding-left: 0px;
}
ul li {
  display: inline-block;
}
.row {
  padding: 50px 6%;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 44px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0em;
  color: #ffffff;
}
h2 {
  font-family: 'Nato Serif SC', serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0em;
  color: #ffffff;
}
h3 {
  font-family: 'Nato Serif SC', serif;
  font-style: italic;
  font-size: 32px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0em;
  color: #212529;
}
h4 {
  font-family: 'Nato Serif SC', serif;
  font-style: italic;
  font-size: 26px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0em;
  color: #878787;
  margin-bottom: 0.8em;
}
h5 {
  font-family: 'Nato Serif SC', serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0em;
  color: #212529;
  margin-top: 0.2em;
}
h6 {
  font-family: 'Nato Serif SC', serif;
  font-style: italic;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0em;
  color: #212529;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  text-align: justify;
  color: #212529;
}
.float-end {
  float: right;
}
.site-navigation ul {
  list-style: none;
  padding: 0px;
}
.site-navigation ul li {
  margin-right: 20px;
}
.site-navigation ul li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0em;
  color: #ffffff;
}
.site-navigation ul li a:hover {
  color: #6692d3;
  border-color: #6692d3;
}
.button-navigation {
  display: none;
  float: right;
}
.button-navigation ul {
  list-style: none;
  padding: 0px;
}
.button-navigation ul li {
  margin-left: 15px;
}
.button-navigation ul li a {
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #d5d5d5;
  border-radius: 6px;
  background-color: rgba(200, 200, 200, 0.4);
  padding: 0.5em;
  color: #d5d5d5;
}
.button-navigation ul li a:hover {
  color: #6692d3;
  border-color: #6692d3;
}
.page-header {
  height: 40vh;
  min-height: 300px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #878787;
  background-blend-mode: overlay;
}
.post-header {
  height: 130px;
}
.post-header .site-navigation * {
  color: #212529;
}
.post-header .button-navigation * {
  color: #212529 !important;
  text-decoration: none !important;
}
.post-header .button-navigation *:hover {
  color: #6692d3 !important;
  border-color: #6692d3 !important;
}
.post-head {
  margin-bottom: 1.6em;
  border-bottom: 1px solid #878787;
}
.post-head .head-meta {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  text-align: left;
}
.post-information {
  margin-bottom: 50px;
}
.post-meta {
  list-style: none;
  padding-left: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  text-align: left;
  margin: 0;
}
.post-meta li {
  display: inline;
  margin-right: 0.4em;
  white-space: nowrap;
}
.post-tag {
  border: 2px solid #878787;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 0.8em;
  color: #323232;
  margin: 0.2em 0.3em 0.2em 0em;
  font-weight: 400;
}
.posts-list-entry {
  border-top: 2px solid #b3b3b3;
  margin-top: 30px;
  padding-top: 20px;
}
.posts-list-entry a {
  color: #878787;
  text-decoration: none;
}
.posts-list-entry a:hover {
  color: #6692d3;
  border-color: #6692d3;
}
.site-links ul li {
  display: block;
  padding: 0.3em 0;
  font-family: 'Lato', sans-serif !important;
  font-style: normal !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 1em !important;
  letter-spacing: 0em !important;
  color: #878787 !important;
}
.site-links ul li a {
  color: #878787;
  text-decoration: none;
}
.site-links ul li a:hover {
  color: #6692d3;
  border-color: #6692d3;
}
.post-complement {
  display: none;
}
.post-complement h3 a {
  color: #212529;
  text-decoration: none;
}
.post-complement h3 a:hover {
  color: #6692d3;
  border-color: #6692d3;
}
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.embed iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
.iframe-container img {
  width: 100%;
}
.embed{
  margin: 2em 0;
}
.recent-posts {
  display: none;
}
.recent-posts ul li {
  display: block;
}
