<header class="row page-header paroller" style="background-image: url({{ page.cover }})" data-paroller-factor="0.5" data-paroller-factor-sm="0.2" data-paroller-factor-xs="0.2">
  <div class="col-12 col-md-6">
    <nav class="site-navigation">
      <ul>
        <li><a href="/FinalYearProject/index.html">Project</a></li>
        <li><a href="/FinalYearProject/blog">Blog</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-12 col-md-6">
    <nav class="button-navigation">
      <ul>
        <li><a href="https://samueldicken.com">Portfolio</a></li>
        <li><a href="https://github.com/ProfessorDudley/Munchkin/">View on GitHub</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-12 col-md-8">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
  </div>
</header>
