---
layout: default
---
<article class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-1 page-content">
	<div class="post-head">
		<p class="head-meta">{{ page.date | date_to_string }}</p>
	</div>
	<h3>{{ page.title }}</h3>

	<p>{{ content }}</p>
</article>

<aside class="col-12 col-md-4 col-lg-3 offset-md-1">
	<div class="post-information">
		<h5>Post Information</h5>
			<ul class="post-meta">
				<li>{{ page.date | date_to_string }}</li>
				<li>•</li>
				<li>{{ content | remove: '<p>' | remove: '</p>' | number_of_words }} words</li>
				<li>•</li>
				<li>{{  content | remove: '<p>' | remove: '</p>' | number_of_words | divided_by: 120 }} minutes</li>
			</ul>

			<ul class="post-meta">
				{% for tag in page.tags %}
					<li class="post-tag">{{ tag }}</li>
				{% endfor %}
			</ul>
	</div>

	<div class="post-complement">
		<h3>References</h3>
      <ul>
        {% for ref in page.references %}
          <li style="display: block;">
            • <a href="/FinalYearProject/{{ ref.link }}">{{ ref.name }}</a>
          </li>
        {% endfor %}
      </ul>
	</div>
</aside>
